@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Student Institute</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h3>Create Student</h3>

            <a href='@Url.Action("Index", "Student")'>
                <input type='button' value='Student' class="btn btn-success" />
            </a>
        </section>

        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h3 id="librariesTitle">Create for Course</h3>

            <a href='@Url.Action("Index", "Course")'>
                <input type='button' value='Course' class="btn btn-success" />
            </a>
        </section>

        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h3 id="hostingTitle">Create for Batch</h3>

            <a href='@Url.Action("Index", "Batch")'>
                <input type='button' value='Batch' class="btn btn-success" />
            </a>
        </section>
    </div>

</main>
<br />
<hr />
<div class="row">

    <section class="col-md-6" aria-labelledby="librariesTitle">
        <h3 id="librariesTitle">Student,Course,Batch Handel</h3>
        
        <a href='@Url.Action("Index", "StuCourBatch")'>
            <input type='button' value='Manage Now' class="btn btn-warning" />
        </a>
    </section>
</div>
